#title {
    text-align: center;
    color: black;
}

body {
    --gray: rgb(223, 220, 220);
    --blue: rgb(101, 200, 247);
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: white;
   
}

#donut-shops {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    background-color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donut-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    aspect-ratio: 1;
    border: 1px solid var(--gray);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background-color: white;
}

.donut-shop:hover {
    background-color: rgb(250, 250, 250);
}

.donut-shop img {
    width: 100%
}

@media (min-width: 500px ) {
    #donut-shops {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 1rem;
        background-color: white;
        flex-wrap: wrap;
    }

    .donut-shop {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; */

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        justify-content: center;
        width: 25%;
        max-width: 250px;
        
        border: 1px solid var(--gray);
        padding-bottom: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        text-decoration: none;
        color: black;
        background-color: white;
        font-size: .7em;
        text-align: center;
    }
    
    .donut-shop {
        /* min-width: 100%; */
        object-fit: fill;
       
    }

}

@media (min-width: 700px) {
    
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    content: contain;
}

footer div {
    padding-right: 13px;
}



